<div id="top-bar">
  <h1 id="interlock_version">INTERLOCK <span></span>
  <h1>
    <a id="open_file_manager" href="">File manager</a> &nbsp; | &nbsp;
    <a id="poweroff" href="" onclick="event.preventDefault(); Interlock.Session.powerOff();">Poweroff</a> |
    <a id="logout" href="" onclick="event.preventDefault(); Interlock.Session.logout();">Logout</a>
  </h1>
</div>

<div id="status">
  <h1>Status</h1>
  <ul id="electrum_status">
    <li id="electrum_status_connection">Disconnected</li>
    <li>Server: <span id="electrum_status_server"></span></li>
    <li>Server height: <span id="electrum_status_server_height"></span></li>
    <li>Blockchain height: <span id="electrum_status_blockchain_height"></span></li>
  </ul>

  <h1>Application Logs</h1>
  <ul id="logs"></ul>

  <h1>Addresses</h1>
  <ul id="electrum_addresses"></ul>

</div>

<div id="electrum">
  <h2>Balance: <span id="electrum_balance"></span></h2>
</div>


<!-- FIXME: cleanup the template from js using unobtrusive JavaScript -->
<script>
  $(document).ready(function() {
    Interlock.Electrum.init();
    /* ensure Interlock.Crypto.cipherList() is completed */
    $.when(Interlock.Crypto.cipherListCompleted).done(function () {
      console.log("Crypto done.")

    });
  });
</script>
